<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.kuchinsky.affirmation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Affirmation.Guys"></activity>
        <activity android:name=".Affirmation.Girls" />
        <activity android:name=".Affirmation.Everyday" />
        <activity android:name=".Affirmation.Pohudenie" />
        <activity android:name=".Affirmation.Love" />
        <activity android:name=".Affirmation.Zdorovie" />
        <activity
            android:name=".Affirmation.newUdacha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Affirmation.Uspeh"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Affirmation.Udacha"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Affirmation.Dostatok"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>